{
    "Logging": {
        "LogLevel": {
            "Default": "Debug",
            "System": "Information",
            "Microsoft": "Information"
        }
    },
    "LavalinkConfig": {
        "Hostname": "127.0.0.1",
        "Port": 2333,
        "Password": "youshallnotpass"
    },
    "CommandServiceConfiguration": {
        "StringComparison": 5,
        "DefaultRunMode": 0,
        "IgnoresExtraArguments": false,
        "Separator": " ",
        "SeparatorRequirement": 0,
        "DefaultArgumentParser": null,
        "CooldownBucketKeyGenerator": null,
        "QuotationMarkMap": null,
        "NullableNouns": null
    },
    "DiscordConfiguration": {
        "Token": ""
    },
    "Notifications": {
        "Discord": {
            "WebhookUrl": ""
        }
    },
    "DjRoleConfig": {
        "DjRoleIsRequired": false,
        "RoleIds": [
            
        ]
    },
    "LocalMediaConfig": {
        "AllowedPathPrefixes": [
            
        ]
    }
}
